{% extends 'base.html' %}


{% block title %}Profile: {{ profile.full_name }} | {{ block.super }}{% endblock %}

{% block content %}
<h3>Health Record : {{ profile.full_name }}</h3>
<a class="btn btn-primary" href="{{ site_root }}/health/create/{{ profile.id }}/">Add Entry</a>
    {% for record in records %}
    <div class="row">
        <div class="span6">
            <h5>{{ record.date }}</h5>
            <dl class="dl-horizontal">
                {% for item in record.records %}
                    <dt>{{ item.key }}</dt>
                    <dd>{{ item.value }}</dd>
                {% endfor %}
            </dl>
        </div>
    </div>
{% endfor %}

{% endblock %}