{% extends 'base.html' %}

{% block script %}
<script type="text/javascript">
    var form = {
        "name" : "blah",
        "id" : "blah",
        "submit":"Save",
        "method":"POST",
        "action":".",
        "fields" : [
            {
                "name":"full_name",
                "label": "Full Name",
                "type": "text"
            },
            {
                "name": "nick_name",
                "label":"Nick Name",
                "type":"text"
            },
            {
                "name": "age",
                "label":"Age",
                "type":"text"
            },
            {
                "name": "address",
                "label":"Address",
                "type": "textarea"
            }
         ]
    };
    jQuery(document).ready(function(){
        jQuery(".ergo").dynoForm({"form_structure":form});
    })
</script>
{% endblock %}

{% block title %}Userlist | {{ block.super }}{% endblock %}

{% block content %}
<h2>Pudiyador Track (beta)</h2>
<div class="ergo">
</div>
{% endblock %}